/* Gereral */

.wrapper {
    margin-inline: auto;
    padding-inline: 2.1rem;
    max-width: 35rem;
}


/* Header */

.header {
    margin-block-end: 4rem;
    padding: 1.1875rem;
    background: linear-gradient(to right, hsl(284, 58%, 32%), hsl(284, 69%, 49%));
    display: flex;
    align-items: center;
    gap: .4rem;
}

.header__img {
    max-width: 1.9rem;
}

.header__title {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: -2px;
}

/* Main */

.input-group {
    display: flex;
    gap: 1rem;
}

.input-group > * {
    width: 100%;
}

@media (max-width: 400px) {
    .input-group {
        flex-direction: column;
    }
}

input[type=text] {
    padding: .6rem;
    font-size: .75rem;
    color: hsl(0, 0%, 5%);
    border-radius: 5px;
    border: 1px solid hsl(255, 5%, 95%);
    outline: none;
}

input:focus {
    border: 1px solid hsl(255, 5%, 80%);
}

button {
    margin-block-start: .9rem;
    padding: .6rem;
    width: 100%;
    font-weight: 600;
    letter-spacing: -1px;
    color: #fff;
    background-image: linear-gradient(to right, hsl(284, 58%, 32%), hsl(284, 69%, 49%));
    border: 0;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

button::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to right, hsl(284, 58%, 30%) 50%, hsl(284, 69%, 41%));
    border-radius: inherit;
    z-index: -1;
    opacity: 0;
    transition: opacity 120ms;
}

button:hover::after {
    opacity: 1;
}